.main-container{
    width: 60%;
    background: #FFFFFF;
    box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.1), 3px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 8px 0 8px;
    box-sizing: border-box;
}
.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.us-left-section{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 1px;
    color: #171717;
}
.us-right-section{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.us-right-section>div{
    width: 42%;
    height: 30px;
    padding: 2px 8px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
    color: #B9B9B9;
    border-radius: 5px;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
}
.table-row{
    width: 100%;
    height: 105px;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 8px;
    box-sizing: border-box;
}
.table-row>div:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-row>div:nth-child(2){
    width: 25%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.table-row>div:nth-child(3){
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.table-cell{
    height: 105px;
}
.left-square{
    width: 77px;
    height: 65px;
    background-image: linear-gradient(0deg, #C4C4C4, #C4C4C4);
}
.cell-1-text{
    width: 70%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: -0.3px;
    color: #917b7b;
    margin-left: 15px;
}
.left-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #C4C4C4;
}
.post-data-1>span:nth-child(1){
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: #4485FD;
}
.post-data-1>span:nth-child(2){
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 24px;
    color: #898A8D;
    margin-left: 15px;
}
.post-data-2{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.post-data-3>span:nth-child(1){
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #898A8D;
}
.post-data-3>span:nth-child(2){
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #898A8D;
    margin-left: 15px;
}
.cell-2-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.3px;
    color: #767676;
    margin-left: 10px;
}
.status-indicator{
    padding: 1px 8px;
    width: 85px;
    height: 22px;
    background: rgba(88, 135, 255, 0.1);
    border-radius: 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #5887FF;

}